body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

.feature{
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.features-description{
  color: #8F8F8F;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

#features{
  margin: 150px 250px;
}

.fa-circle-check, .fa-bullseye, .fa-heart {
  color: #EF8172;
  padding-bottom: 20px;
}

.fa-circle-check:hover, .fa-bullseye:hover, .fa-heart:hover {
  color: #FF4C68;
}

.col-lg-4{
  text-align: center;
}
